<section class="filter-section">
  <h4>{{filterHeading}}</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let filter of filterArray; let i = index">
      <div class="form-check">
        <input class="form-check-input" [checked]="filter.checked" type="checkbox" value="" id="{{indexID + '-' + i}}"
          (change)="checkedInput($event.target.checked, filter.data, i)">
        <label class="form-check-label" for="{{indexID + '-' + i}}">
          {{filter.data}}
        </label>
      </div>
    </li>
  </ul>
</section>