<div class="row">
	<div class="col-12">
		<div class="row">
			<h2 class="col-10">Filters</h2>
			<div class="col-2 d-md-none d-lg-none">
				<span (click)="showFilter()" class="float-right fa" [ngClass]="{'fa-plus-circle': !showFilters, 'fa-minus-circle': showFilters}"></span>
			</div>
		</div>
		<div *ngIf="showFilters">
		<div *ngFor="let filter of filtersData; let i = index">
			<app-filters [filterHeading]="filtersHeading[i]" [filterArray]="filter.data"
				[indexID]="filtersHeading[i] + '-' + i" (selectedFilter)="selectedFilter($event)">
			</app-filters>
		</div>
	</div>
	</div>
</div>